@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&family=Readex+Pro:wght@400;600;700&display=swap");

/* #E12E2A RED*/
/* #FAFAFA WHITE*/
/* #2F9400 GREEN*/
/* #FDF3C2 YELLOW */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  background-color: whitesmoke;
}

header {
  position: sticky;
  top: 0;
  color: #000000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 20px;
}

#restaurantName {
  font-size: 35px;
  font-weight: 700;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

#home,
#products,
#aboutUS {
  color: black;
}

#home:hover,
#products:hover,
#aboutUS:hover {
  color: #e12e2a;
}

main {

  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home > img {
  width: 500px;
  height: 500px;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fdf3c2;
  padding: 15px;
  font-size: 26px;
}

footer a:active,
footer a:visited {
  color: black;
  background-color: #fdf3c2;
}

/* PRODUCTS PAGE  */

.imgContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.productImg {
  width: fit-content;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 25px;
}

.productTitle {
  text-align: center;
  padding: 25px 0 25px 0;
}

img {
  border-radius: 50px;
}

/* About US Page */

.wrapper {
  width: 600px;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gmap_canvas {
  width: 100%;
  margin: 20px auto;
}
